{{template "templates/base.html" .}}

{{define "content"}}
    <div class="flex flex-col items-center justify-start h-screen w-100 mx-auto px-4 md:px-0 mt-8">
        <h1 class="text-4xl font-bold mb-4">Create a New Task</h1>
        <form action="/create" method="POST" class="w-full max-w-sm">
            <div class="mb-4">
                <label for="title" class="block text-gray-700 font-bold mb-2">Title:</label>
                <input type="text" name="title" id="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <button type="submit" class="bg-gray-700 hover:scale-110 duration-300 text-white font-bold py-2 px-4 rounded w-full">Create Task</button>
        </form>
            </div>
{{end}}